/*
  Xamango.org style sheet
*/

body {
  background-color: #fcfcfc;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  width: 960px;
  margin: auto;
}

a {
  color: #393;
}
a:hover {
  color: #363;
}

#head, #foot {
  background-color: #393;
  color: white;
  padding-left: .65em;
  padding-right: .25em;
  padding-bottom: .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#nav {
  background-color: #cfc;
  padding: .1em;
}

#content {
  padding: .5em;
}

#content h2 {
  border-bottom: 1px solid #ddd;
}

#content dt {
  font-style: italic;
}

#content blockquote {
  border : 2px solid #000;
  margin: 0px;
  padding: 3px;
  background-color: #B4CDB9;
  quotes: "\201C" "\201D";
}
#content blockquote p:before { content: open-quote; font-weight: bold; font-size: 30px;}
/* #content blockquote p:after { content: close-quote; font-weight: bold; } */

q {
  font-style: italic;
}

.announce {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

#head a {
  text-decoration: none; color: inherit;
}
#head a:hover {
  text-decoration: underline;
}

#foot a {
  color: white;
}
#foot a:hover {
  color: #eee;
}

.twitter-follow-button {
position: relative;
top: 4px;
}